.container{
    display: flex;
    align-items: center;
}

.number{
    font-family: var(--font-mono);
    color: var(--light-blue);
    font-size: 18px;


}

.title{
    font-size: 27px;
    color: var(--lightest-slate);
    margin-left: 5px;
}

.container::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}


@media (max-width: 768px){
    .container{
        width: 100%;
    }

    .title{
        width: 100%;
        font-size: 24px;
        white-space: nowrap;
    }

    .container::after {
        margin-left: 5px;
        max-width: 100%;
    }
}