.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin: 0px auto;
    max-width: 800px;
}

.experiences{
    margin-top: 30px;
    display: flex;
}

.line{
    width: 40px;
    border-left: 2px solid beige;
}