.container{
    padding: 30px 20px;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    border-radius: 4px;
    background-color: var(--light-navy);
    /* cursor: pointer; */
}

.workname{
    color: var(--lightest-slate);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description{
    color: var(--light-slate);
    font-size: 16px;
    margin-bottom: 20px;
}

.tags{
    display: flex;
    list-style: none;
    font-family: var(--font-mono);
    color: var(--light-slate);
    flex-wrap: wrap;
    font-size: 13px;
    margin-bottom: 10px;
}

.tags li{
    padding: 0px;
    margin-right: 7px;
}

.folder{
    width: 40px;
    fill: var(--light-blue);
}

.icons{
    margin-bottom: 20px;
    display: flex;
}

.links{
    margin-left: auto;
}

.links svg:hover{
    fill: var(--light-blue);
    
}
.links svg{
    width: 22px;
    margin-left: 15px;
    fill: var(--slate);
}