.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1000px;
}

.text{
    color: var(--slate);
    font-size: 20px;
    line-height: 1.3;
}

.text p{
    margin-bottom: 15px;
}

.inner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    font-family: var(--font-mono);
    font-size: 13px;
}

.list li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

.list li::before {
    content: "●";
    position: absolute;
    left: 0px;
    color: var(--light-blue);
    font-size: 13px;
    line-height: 12px;
}

.profile{
    border-radius: 5px;
    z-index: 1;
}

.imageContainer{
    position: relative;
    height: fit-content;
}


 .wrap:hover::after{
    top: 40px;
    left: 20px;
 }

 .wrap::after{
    transition: all 0.2s;
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 90%;
    border: 2px solid var(--light-blue);
    top: 50px;
    left: 30px;
    border-radius: 4px;
 }

 @media (max-width: 768px){
    .inner{
        display: flex;
        flex-direction: column;
    }

    .text{
        font-size: 17px;
    }
}