@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html,
body {
 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --text-color: #a8b9ef;
  --bg: #0d1726;
  --light-blue: #75daff;
  --green-tint: rgba(100,255,218,0.1);
}


body{
  background-color: var(--bg);
}