.header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    background-color: #0d1726ea;
    backdrop-filter: blur(2px);
    z-index: 1000;

}

.inner{
   display: flex;
   width: 100%;
   align-items: center;

}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--light-slate);
    font-family: 'PT Mono', monospace;
    font-size: 13px;
}

.menu li a:hover{
    color: var(--light-blue);
}

.menu li{
    padding: 10px 20px ;
}

.number{
    color: var(--light-blue) ;
}

.logo{
    margin-right: auto;
}

@media (max-width: 768px){

    .header {
        padding: 0px 25px;
    }

    .nav{
        display: none;
    }
}
